.footer-text h1 {
    text-align: center;
    margin-top: 10px;
}
.form_name {
    display: flex;
    width: 100%;
    margin:  0 auto;
}
.item_form {
    margin-right: 20px;
    margin-top: 10px;
}   
.item_form input {
    width: 420px;
    height: 60px;
    border: 1px solid #00000058;
    border-radius: 5px;
    font-size: 18px;
}
.btn {
    margin-top: 10px;
}